.news-block,
.topic-wrapper,
.subscribe-block {
  max-width: 100%;
  padding-bottom: 20px;
}

@media only screen and (min-width: 1024px) {
  .news-block,
  .topic-wrapper,
  .subscribe-block {
    max-width: 697px;
    margin: 0 auto 30px;
  }
}

.topic-wrapper {
  border: none;
}

@media only screen and (min-width: 1024px) {
  .topic-wrapper {
    border-bottom: solid 1px #eaeaea;
  }
}

.author-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.author-wrap div.image {
  margin-right: 15px;
}

.author-wrap .author-card__by {
  margin-right: 5px;
  font-weight: 300;
  font-size: 16px;
}

.author-wrap .byline-name {
  text-transform: uppercase;
  font-size: 16px;
}

.bottom-widget {
  display: block;
  max-width: 100%;
}

@media only screen and (min-width: 1024px) {
  .bottom-widget {
    display: flex;
    justify-content: space-between;
    max-width: 697px;
  }
}

.bottom-widget .subscription-block {
  flex: 0 0 calc(100% - 47.3% - 12px);
}

.bottom-widget .whats-app-banner {
  flex: 0 0 calc(47.3% - 12px);
}

.cta {
  background-color: #f8f8f8;
  padding: 15px 20px;
  text-transform: initial;
  position: relative;
}

.cta__content {
  display: flex;
  flex-flow: wrap;
  align-items: center;
}

.cta__heading {
  margin: 0 5px 0 0;
  text-align: left;
  font-size: .875rem;
  font-weight: 500;
}

.cta__wrapper {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.cta .link {
  color: #d22d28;
}

.cta .link--category {
  font-size: 1.75rem;
  font-weight: 600;
}

.cta .link--explore {
  font-size: .75rem;
  font-weight: 500;
  position: relative;
  padding-right: 12px;
}

.cta .link--explore::after {
  content: "";
  display: inline-block;
  position: absolute;
  border: solid transparent;
  border-width: 0 0 8px 8px;
  transform: rotate(225deg);
  top: 15px;
  right: 7px;
  cursor: pointer;
  box-shadow: -2px 2px 0 0 #d22d28;
  top: 4px;
  right: 0;
}

.cta .link--overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.publish-date,
.update-date {
  font-weight: bold;
  font-size: 14px;
}

.publish-date span,
.update-date span {
  font-weight: 400;
  font-size: 14px;
}

.read-also-wrapper {
  display: flex;
}

.read-also-wrapper .read-also {
  background: #f5f5f5;
  padding: 15px 15px 0;
  margin: 0 0 30px 15px;
}

.read-also-wrapper h3 {
  font-size: 12px;
  font-weight: 600;
  border: 0;
  color: #d22d28;
  text-transform: uppercase;
  padding-bottom: 0;
  margin-bottom: 5px;
  margin-top: 0;
}

@media only screen and (min-width: 1024px) {
  .read-also-wrapper h3 {
    font-size: 14px;
  }
}

.read-also-wrapper a {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  padding-bottom: 15px;
  display: inline-block;
}

.read-also-wrapper a:hover {
  color: #d22d28;
}
