body {
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  font-family: 'Proxima Nova Condensed', sans-serif;
}

h1 {
  margin: 30px 0 55px 0;
}

h2 {
  color: #4a4f54;
  font-weight: 600;
  font-size: 1.625rem;
  line-height: 1.11538;
  margin: 0 0 0.5em;
  text-transform: uppercase;
}

.text-para {
  max-width: 100%;
}

@media only screen and (min-width: 1024px) {
  .text-para {
    font-weight: 400;
    border-bottom: 1px solid #eaeaea;
    margin: 0 auto 30px;
    padding-bottom: 20px;
    max-width: 697px;
  }
}

.text-para ul {
  margin: 27px 0 0 0;
  padding: 0;
  list-style: none;
}

.text-para ul li {
  padding: 0 0 0 30px;
  margin: 0 0 10px;
  font-size: 1rem;
  position: relative;
}

@media only screen and (min-width: 1024px) {
  .text-para ul li {
    padding: 0 0 0 15px;
    margin: 0 0 10px;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.27778;
  }
}

.text-para ul li::before {
  position: absolute;
  content: '';
  top: 17px;
  width: 10px;
  height: 10px;
  left: 0;
  border-radius: 50%;
  background-color: #b50000;
}

@media only screen and (min-width: 1024px) {
  .text-para ul li::before {
    top: 8px;
    width: 5px;
    height: 5px;
  }
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.55556;
  letter-spacing: -0.3px;
  margin: 0 0 16px 0;
  color: #000000;
}

button {
  word-break: normal;
  padding: 12px 15px 12px 13px;
  margin-bottom: 0;
  font-weight: 500;
  text-transform: uppercase;
  width: auto;
  border: none;
  color: #ffffff;
  background-color: #d22d28;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #d22d28;
}

.primary-menu {
  /* UI-item */
  display: none;
  border-bottom: none;
  flex-flow: column;
  position: relative;
  z-index: 10;
  list-style: none;
  margin: 0;
  padding: 0;
  /* anchor tag primary menu */
}

@media only screen and (min-width: 1024px) {
  .primary-menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: unset;
  }
}

.primary-menu__item {
  /* LI-item */
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border-top: 1px solid #eaeaea;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .primary-menu__item {
    width: auto;
    padding: 13px 15px 15px 0;
  }
  .primary-menu__item:first-child {
    padding-left: 0;
  }
  .primary-menu__item:last-child {
    padding-right: 0;
  }
}

.primary-menu__item:last-of-type::after {
  content: '';
  width: 7px;
  height: 7px;
  border-bottom: 2px solid #d22d28;
  border-left: 2px solid #d22d28;
  transform: rotate(315deg);
  transition: transform .3s;
  display: inline-block;
  margin-left: 10px;
  margin-top: 3px;
  cursor: pointer;
}

.primary-menu__item:last-of-type:hover .child-menu {
  display: block;
}

.primary-menu__link {
  font-size: 1rem;
  line-height: 1.1875;
  padding: 20px 15px;
  text-decoration: none;
  font-weight: 600;
  width: 100%;
  color: #000000;
}

@media only screen and (min-width: 1024px) {
  .primary-menu__link {
    border-bottom: none;
    display: inline-block;
    text-transform: none;
    position: relative;
    width: auto;
    font-size: 1rem;
    font-weight: 600;
    padding: 0;
  }
}

.primary-menu__link--active, .primary-menu__link:hover {
  color: #d22d28;
}

.child-menu {
  display: none;
  position: fixed;
  width: fit-content;
  border: 1px solid #eaeaea;
  top: 46px;
  border-radius: 5px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.3);
  z-index: 1;
  right: 0;
}

.child-menu .primary-menu {
  display: block;
}

.child-menu .primary-menu__item {
  padding: 0;
}

.child-menu .primary-menu__item .primary-menu__link {
  padding: 13px 15px 15px;
}

.child-menu .primary-menu__item:last-child::after {
  content: unset;
}

.header {
  border-bottom: solid 1px #eaeaea;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

.figure__caption p {
  margin: 7px 0 0 0;
  font-size: 1rem;
}

.byline-img img {
  max-height: 50px;
  border-radius: 50%;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 1366px) {
  .container {
    max-width: 1288px;
  }
}

@media only screen and (min-width: 1366px) {
  .container--large {
    max-width: 1440px;
  }
}

.layout--twocol-section {
  display: flex;
  margin: 0;
  flex-direction: column;
}

@media only screen and (min-width: 1024px) {
  .layout--twocol-section {
    display: flex;
    margin: 0 -12.5px;
    flex-direction: unset;
  }
}

.layout__region--first {
  order: 2;
  flex: 100%;
}

@media only screen and (min-width: 1024px) {
  .layout__region--first {
    order: 1;
    flex: 0 1 calc(100% - 328px);
  }
}

.layout__region--second {
  order: 1;
  flex: 100%;
  margin-bottom: 25px;
}

@media only screen and (min-width: 1024px) {
  .layout__region--second {
    order: 2;
    flex: 0 1 328px;
  }
}

.layout__region--first, .layout__region--second {
  padding: 0 12.5px;
}

.main-container {
  padding: 0 15px;
}

@media only screen and (min-width: 1024px) {
  .main-container {
    max-width: calc(1288px - 65px* 2);
    margin: 0 auto;
  }
}

.link {
  color: #000000;
  text-decoration: none;
}

.link--topic {
  display: inline-block;
  border-radius: 0;
  letter-spacing: -0.23px;
  border: solid 1px #eaeaea;
  padding: 2px 15px 3px;
  margin: 0 6px 10px 0;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.57143;
}

@media only screen and (min-width: 1024px) {
  .link--topic {
    font-size: .875rem;
  }
}

.link--topic:hover {
  color: #d22d28;
}

.news-block,
.topic-wrapper,
.subscribe-block {
  max-width: 100%;
  padding-bottom: 20px;
}

@media only screen and (min-width: 1024px) {
  .news-block,
  .topic-wrapper,
  .subscribe-block {
    max-width: 697px;
    margin: 0 auto 30px;
  }
}

.topic-wrapper {
  border: none;
}

@media only screen and (min-width: 1024px) {
  .topic-wrapper {
    border-bottom: solid 1px #eaeaea;
  }
}

.author-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.author-wrap div.image {
  margin-right: 15px;
}

.author-wrap .author-card__by {
  margin-right: 5px;
  font-weight: 300;
  font-size: 16px;
}

.author-wrap .byline-name {
  text-transform: uppercase;
  font-size: 16px;
}

.bottom-widget {
  display: block;
  max-width: 100%;
}

@media only screen and (min-width: 1024px) {
  .bottom-widget {
    display: flex;
    justify-content: space-between;
    max-width: 697px;
  }
}

.bottom-widget .subscription-block {
  flex: 0 0 calc(100% - 47.3% - 12px);
}

.bottom-widget .whats-app-banner {
  flex: 0 0 calc(47.3% - 12px);
}

.cta {
  background-color: #f8f8f8;
  padding: 15px 20px;
  text-transform: initial;
  position: relative;
}

.cta__content {
  display: flex;
  flex-flow: wrap;
  align-items: center;
}

.cta__heading {
  margin: 0 5px 0 0;
  text-align: left;
  font-size: .875rem;
  font-weight: 500;
}

.cta__wrapper {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.cta .link {
  color: #d22d28;
}

.cta .link--category {
  font-size: 1.75rem;
  font-weight: 600;
}

.cta .link--explore {
  font-size: .75rem;
  font-weight: 500;
  position: relative;
  padding-right: 12px;
}

.cta .link--explore::after {
  content: "";
  display: inline-block;
  position: absolute;
  border: solid transparent;
  border-width: 0 0 8px 8px;
  transform: rotate(225deg);
  top: 15px;
  right: 7px;
  cursor: pointer;
  box-shadow: -2px 2px 0 0 #d22d28;
  top: 4px;
  right: 0;
}

.cta .link--overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.publish-date,
.update-date {
  font-weight: bold;
  font-size: 14px;
}

.publish-date span,
.update-date span {
  font-weight: 400;
  font-size: 14px;
}

.read-also-wrapper {
  display: flex;
}

.read-also-wrapper .read-also {
  background: #f5f5f5;
  padding: 15px 15px 0;
  margin: 0 0 30px 15px;
}

.read-also-wrapper h3 {
  font-size: 12px;
  font-weight: 600;
  border: 0;
  color: #d22d28;
  text-transform: uppercase;
  padding-bottom: 0;
  margin-bottom: 5px;
  margin-top: 0;
}

@media only screen and (min-width: 1024px) {
  .read-also-wrapper h3 {
    font-size: 14px;
  }
}

.read-also-wrapper a {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  padding-bottom: 15px;
  display: inline-block;
}

.read-also-wrapper a:hover {
  color: #d22d28;
}

.subscription-block {
  width: 100%;
  margin-bottom: 30px;
  border: solid 1px #eaeaea;
}

@media only screen and (min-width: 1024px) {
  .subscription-block {
    margin: 0;
  }
}

.subscription-block .inner-wrapper {
  background-color: #d22d28;
  padding: 12px 0 1px 20px;
}

.subscription-block .inner-wrapper h2 {
  color: #ffffff;
}

.subscription-block .subs-content {
  padding: 23px 20px 15px;
}

.subscription-block .content-wrapper {
  display: flex;
  position: relative;
}

.subscription-block .content-wrapper p {
  padding-right: 20px;
  width: 47%;
  margin: 0;
  font-weight: 600;
}

.subscription-block .content-wrapper .hero-wrapper {
  position: absolute;
  top: -30px;
  width: 142px;
  max-height: 130px;
  right: 0;
}

.subscription-block .content-wrapper-bottom {
  display: flex;
  margin-top: 16px;
}

.subscription-block .content-wrapper-bottom input {
  word-break: normal;
  padding: 12px 10px 12px 0;
  margin-bottom: 0;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
  border: none;
  color: white;
}

.subscription-block .content-wrapper-bottom button {
  position: relative;
  cursor: pointer;
}

.subscription-block .content-wrapper-bottom button::after {
  content: "";
  display: inline-block;
  position: absolute;
  border: solid transparent;
  border-width: 0 0 8px 8px;
  transform: rotate(225deg);
  top: 15px;
  right: 7px;
  cursor: pointer;
  box-shadow: -2px 2px 0 0 #ffffff;
}

.subscription-block .note {
  font-size: 12px;
  padding: 0.9rem 0 0 0;
  border-top: 1px solid #eaeaea;
  margin: 0;
}

.cia-widget {
  padding-top: 15px;
}

.cia-widget__column {
  display: flex;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px #eaeaea;
}

.cia-widget__figure {
  flex: 0 0 35%;
  margin-bottom: 0;
  margin-right: 10px;
  max-width: 114px;
  height: auto;
  overflow: visible;
}

.cia-widget__content {
  flex: 1;
}

.cia-widget .list-object__heading {
  font-size: .875rem;
  font-weight: 600;
  margin: 0;
  line-height: 1.35714;
}

.cia-widget .list-object__heading-link {
  text-decoration: none;
  color: #000000;
}

.nav-wrapper {
  width: 100%;
  display: flex;
  gap: 12px;
  margin-bottom: 5px;
  border-bottom: 1px solid #d22d28;
}

.nav-wrapper .button {
  width: 50%;
  font-size: 14px;
  padding: 10px;
  font-weight: bold;
  line-height: 1.1875;
  cursor: pointer;
}

.nav-wrapper .inactive {
  background-color: #f8f8f8;
  color: #4a4f54;
}

div.inactive,
#tab-2 {
  display: none;
}

body {
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  font-family: 'Proxima Nova Condensed', sans-serif;
}

h1 {
  margin: 30px 0 55px 0;
}

h2 {
  color: #4a4f54;
  font-weight: 600;
  font-size: 1.625rem;
  line-height: 1.11538;
  margin: 0 0 0.5em;
  text-transform: uppercase;
}

.text-para {
  max-width: 100%;
}

@media only screen and (min-width: 1024px) {
  .text-para {
    font-weight: 400;
    border-bottom: 1px solid #eaeaea;
    margin: 0 auto 30px;
    padding-bottom: 20px;
    max-width: 697px;
  }
}

.text-para ul {
  margin: 27px 0 0 0;
  padding: 0;
  list-style: none;
}

.text-para ul li {
  padding: 0 0 0 30px;
  margin: 0 0 10px;
  font-size: 1rem;
  position: relative;
}

@media only screen and (min-width: 1024px) {
  .text-para ul li {
    padding: 0 0 0 15px;
    margin: 0 0 10px;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.27778;
  }
}

.text-para ul li::before {
  position: absolute;
  content: '';
  top: 17px;
  width: 10px;
  height: 10px;
  left: 0;
  border-radius: 50%;
  background-color: #b50000;
}

@media only screen and (min-width: 1024px) {
  .text-para ul li::before {
    top: 8px;
    width: 5px;
    height: 5px;
  }
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.55556;
  letter-spacing: -0.3px;
  margin: 0 0 16px 0;
  color: #000000;
}

button {
  word-break: normal;
  padding: 12px 15px 12px 13px;
  margin-bottom: 0;
  font-weight: 500;
  text-transform: uppercase;
  width: auto;
  border: none;
  color: #ffffff;
  background-color: #d22d28;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #d22d28;
}

body {
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  font-family: 'Proxima Nova Condensed', sans-serif;
}

h1 {
  margin: 30px 0 55px 0;
}

h2 {
  color: #4a4f54;
  font-weight: 600;
  font-size: 1.625rem;
  line-height: 1.11538;
  margin: 0 0 0.5em;
  text-transform: uppercase;
}

.text-para {
  max-width: 100%;
}

@media only screen and (min-width: 1024px) {
  .text-para {
    font-weight: 400;
    border-bottom: 1px solid #eaeaea;
    margin: 0 auto 30px;
    padding-bottom: 20px;
    max-width: 697px;
  }
}

.text-para ul {
  margin: 27px 0 0 0;
  padding: 0;
  list-style: none;
}

.text-para ul li {
  padding: 0 0 0 30px;
  margin: 0 0 10px;
  font-size: 1rem;
  position: relative;
}

@media only screen and (min-width: 1024px) {
  .text-para ul li {
    padding: 0 0 0 15px;
    margin: 0 0 10px;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.27778;
  }
}

.text-para ul li::before {
  position: absolute;
  content: '';
  top: 17px;
  width: 10px;
  height: 10px;
  left: 0;
  border-radius: 50%;
  background-color: #b50000;
}

@media only screen and (min-width: 1024px) {
  .text-para ul li::before {
    top: 8px;
    width: 5px;
    height: 5px;
  }
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.55556;
  letter-spacing: -0.3px;
  margin: 0 0 16px 0;
  color: #000000;
}

button {
  word-break: normal;
  padding: 12px 15px 12px 13px;
  margin-bottom: 0;
  font-weight: 500;
  text-transform: uppercase;
  width: auto;
  border: none;
  color: #ffffff;
  background-color: #d22d28;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #d22d28;
}

.primary-menu {
  /* UI-item */
  display: none;
  border-bottom: none;
  flex-flow: column;
  position: relative;
  z-index: 10;
  list-style: none;
  margin: 0;
  padding: 0;
  /* anchor tag primary menu */
}

@media only screen and (min-width: 1024px) {
  .primary-menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: unset;
  }
}

.primary-menu__item {
  /* LI-item */
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border-top: 1px solid #eaeaea;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .primary-menu__item {
    width: auto;
    padding: 13px 15px 15px 0;
  }
  .primary-menu__item:first-child {
    padding-left: 0;
  }
  .primary-menu__item:last-child {
    padding-right: 0;
  }
}

.primary-menu__item:last-of-type::after {
  content: '';
  width: 7px;
  height: 7px;
  border-bottom: 2px solid #d22d28;
  border-left: 2px solid #d22d28;
  transform: rotate(315deg);
  transition: transform .3s;
  display: inline-block;
  margin-left: 10px;
  margin-top: 3px;
  cursor: pointer;
}

.primary-menu__item:last-of-type:hover .child-menu {
  display: block;
}

.primary-menu__link {
  font-size: 1rem;
  line-height: 1.1875;
  padding: 20px 15px;
  text-decoration: none;
  font-weight: 600;
  width: 100%;
  color: #000000;
}

@media only screen and (min-width: 1024px) {
  .primary-menu__link {
    border-bottom: none;
    display: inline-block;
    text-transform: none;
    position: relative;
    width: auto;
    font-size: 1rem;
    font-weight: 600;
    padding: 0;
  }
}

.primary-menu__link--active, .primary-menu__link:hover {
  color: #d22d28;
}

.child-menu {
  display: none;
  position: fixed;
  width: fit-content;
  border: 1px solid #eaeaea;
  top: 46px;
  border-radius: 5px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.3);
  z-index: 1;
  right: 0;
}

.child-menu .primary-menu {
  display: block;
}

.child-menu .primary-menu__item {
  padding: 0;
}

.child-menu .primary-menu__item .primary-menu__link {
  padding: 13px 15px 15px;
}

.child-menu .primary-menu__item:last-child::after {
  content: unset;
}

.header {
  border-bottom: solid 1px #eaeaea;
}

.cia-widget {
  padding-top: 15px;
}

.cia-widget__column {
  display: flex;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px #eaeaea;
}

.cia-widget__figure {
  flex: 0 0 35%;
  margin-bottom: 0;
  margin-right: 10px;
  max-width: 114px;
  height: auto;
  overflow: visible;
}

.cia-widget__content {
  flex: 1;
}

.cia-widget .list-object__heading {
  font-size: .875rem;
  font-weight: 600;
  margin: 0;
  line-height: 1.35714;
}

.cia-widget .list-object__heading-link {
  text-decoration: none;
  color: #000000;
}

.nav-wrapper {
  width: 100%;
  display: flex;
  gap: 12px;
  margin-bottom: 5px;
  border-bottom: 1px solid #d22d28;
}

.nav-wrapper .button {
  width: 50%;
  font-size: 14px;
  padding: 10px;
  font-weight: bold;
  line-height: 1.1875;
  cursor: pointer;
}

.nav-wrapper .inactive {
  background-color: #f8f8f8;
  color: #4a4f54;
}

div.inactive,
#tab-2 {
  display: none;
}
