{# News component statically rendering #}
<div class='news-block'>
  <div class="cta">
    <div class="cta__content">
      <p class="cta__heading">Read more of the latest in</p>
      <div class="cta__wrapper">
        <a class="link link--category" href="/news">
          News
        </a>
        <a class="link link--explore" href="/news">
          Explore now
        </a>
      </div>
    </div>
    <a class="link link--overlay" href="/news"></a>
  </div>
</div>