img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

.figure__caption {
  p {
    margin: 7px 0 0 0;
    font-size: 1rem;
  }
}

.byline-img {
  img {
    max-height: 50px;
    border-radius: 50%;
  }
}
